@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body {
  font-family: "Pretendard Variable", Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}